* {
  margin: none;
  padding: none;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}
.Aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.contenedor-logo {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 400px;
  height: 200px;
}